<div class='new-overall'>
  <header class='new-header'>
  ログイン
  </header>
  <div class='error'>
    error
  </div>
  <div class='error-message'>
    現在、データベースにエラーが発生しております。<br>時間をおいてお試しください。
  </div>
  <div class='link'>
    <%= link_to 'トップページへ戻る', "/", class: "root" %>
  </div>
  <footer class='new-footer'>
    hint: るーちゃんの投稿を日付順に並べて、(時間)文字目を読むと、、、。
  </footer>
</div>