<% form_with model: @user, url: user_registration_path %>
<div class='new-overall'>
  <header class='new-header'>
    新規会員登録
  </header>
  <div class='error'>
    error
  </div>
  <div class='error-message'>
    大変申し訳ありませんが、<br>現在、新規会員登録を<br>受け付けておりません。<br>
  </div>
  <div class='link'>
    <%= link_to 'トップページへ戻る', "/", data: {"turbolinks" => false}, class: "root" %>
  </div>
  <footer class='new-footer'>
    hint: るーちゃんの投稿を日付順に並べて、(時間)文字目を読むと、、、。
  </footer>
</div>