<div class="secret-overall">
  <header class="secret-header">
    秘密の部屋
  </header>
  <div class="secret-message">
    <p id="secret-message1">- 、、、るーちゃん！</p><br>
    <p id="secret-message2">、、、！</p>
    <p id="secret-message3">キ、、、ミ、くん？</p><br>
    <p id="secret-message4">- 、、、遅くなってごめん</p><br>
    <p id="secret-message5">ううん、大丈夫だよ</p><br>
    <p id="secret-message6">- 話しかける勇気が出なくて</p><br>
    <p id="secret-message7">そうだったんだ、</p>
    <p id="secret-message8">るしあ嫌われてるのかと思っちゃった</p><br>
    <p id="secret-message9">- そんなわけないよ、</p>
    <p id="secret-message10">　むしろ、るーちゃんのことは、その、、、</p><br>
    <p id="secret-message11">るしあ、わがままだったよね、、、</p>
    <p id="secret-message12">その、ごめんなさい、、、</p><br>
    <p id="secret-message13">- そんな、謝らなきゃいけないのは</p>
    <p id="secret-message14">　こっちの方だよ</p>
    <p id="secret-message15">　話しかけれなくてごめんなさい</p><br>
    <p id="secret-message16">じゃあ、お互い様ってことね</p>
    <p id="secret-message17">あ、るしあそろそろ行かなきゃ</p>
    <p id="secret-message18">みんなが待ってるから</p><br>
    <p id="secret-message19">- 、、、また、遊びに来てくれる？</p><br>
    <p id="secret-message20">うん、きっとまた遊びに来るよ</p>
    <p id="secret-message21">その時はまたお話ししてね</p>
  </div>
  <div class="end", id="end">
    〜 end 〜
  </div>
  <footer class="secret-footer">
    楽しんでくれましたか？楽しんでくれてたら私も嬉しいです。
  </footer>
</div>