.secret-overall {
  width: 100vw;
  height: auto;
  background-color: black;
}

.secret-header {
  width: 320px;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.secret-message {
  width: 320px;
  color: black;
  margin: auto;
  margin-bottom: 30px;
}

.end{
  width: 320px;
  color: black;
  margin: auto;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.secret-footer {
  width: 320px;
  margin: auto;
  text-align: center;
}