<% form_with model: @user, url: user_session_path %>
<div class='new-overall'>
  <header class='new-header'>
    ログイン
  </header>
  <div class='error'>
    error
  </div>
  <div class='error-message'>
    現在、データベースにて<br>エラーが発生しております。<br>時間をおいてから<br>再度お試しください。<br>
  </div>
  <div class='link'>
    <%= link_to 'トップページへ戻る', "/", data: {"turbolinks" => false}, class: "root" %>
  </div>
  <footer class='new-footer'>
    hint: るーちゃんの投稿を日付順に並べて、(時間)文字目を読むと、、、。
  </footer>
</div>